<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:a10="http://www.w3.org/2005/Atom" version="2.0">
  <channel site="Henderson Bas " sitelink="http://theniceagency.com" defaultlanguage="en" currentpostid="0" pagesize="20" pageindex="0" servertime="2010-01-18T17:15:28">
    <title>AWAPI CMS Blog Feed</title>
    <link>http://www.awapi.com/</link>
    <description>AWAPI Content in RSS 2.0 Feed Format</description>
    <managingEditor>omer@awapi.com</managingEditor>
    <category>posts</category>
    <item>
      <guid isPermaLink="false">8897360369245753290</guid>
      <title>Why Burr Coffee Grinders?</title>
      <description>
        To prepare a nice and fresh coffee at home, you might need a coffee grinders.
        How to prepare a nice coffee at home? Well, you first need to buy roasted coffee
        bean, then grind it using coffee
      </description>
      <a10:updated>2010-01-18T16:30:06-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>false</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T16:30:06.97</createdate>
      <imageurl>http://burrcoffeegrindersreview.files.wordpress.com/2008/03/burr-coffee-grinder-review.jpg?w=480</imageurl>
    </item>
    <item>
      <guid isPermaLink="false">7774020681598575046</guid>
      <title>COFFEE!!!</title>
      <description>
        Coffee for our T.L.E. subject:
        Iced Coffee Recipe:
        Ingredients:4 cups of cold milk1/4 cup of sugar1/4 cup of instant
        coffee1/4 cup of hot waterIce
        Mix together the coffee, sugar, and hot water until
      </description>
      <a10:updated>2010-01-18T16:28:23-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>false</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T16:28:17.32</createdate>
      <imageurl></imageurl>
    </item>
    <item>
      <guid isPermaLink="false">6410414686491100083</guid>
      <title>Hey, Good Lookin’</title>
      <description>
        You are valuable. You are talented. You are beautiful/handsome. There is a
        reason you are on this earth. Yes, you have a purpose. You are needed. How do I
        know all of this? Because I know your
      </description>
      <a10:updated>2010-01-18T16:26:32-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>false</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T16:26:32.54</createdate>
      <imageurl>http://artfiles.art.com/images/-/Lisa-Audit/Coffee-Shop-Menu-Print-C10315084.jpeg</imageurl>
    </item>
    <item>
      <guid isPermaLink="false">4926212061801780183</guid>
      <title>The Subject of Grace</title>
      <description>
        As I slowly awoke this morning, it was as if I’d been having a conversation with
        someone about the subject of grace. I’ve always wanted to be a good person and
        like to think of myself that way, but
      </description>
      <a10:updated>2010-01-18T16:25:34-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>false</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T16:25:34.52</createdate>
      <imageurl></imageurl>
    </item>
    <item>
      <guid isPermaLink="false">8590305835129660255</guid>
      <title>American Red Cross Pledges Initial $1 Million to Haiti Relief</title>
      <description>
        WASHINGTON, Wednesday, January 13, 2010 —

        The American Red Cross is sending money, supplies and staff to Haiti to
        support relief efforts there after yesterday’s earthquake, which caused
      </description>
      <a10:updated>2010-01-18T16:19:52-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>true</iscommentable>
      <summary>Editorial note: You can make a donation by calling 1-800-REDCROSS or 1-800-257-7575 (Spanish) or click on the Donate Now button.</summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T15:30:35.103</createdate>
      <imageurl>http://mexfiles.files.wordpress.com/2010/01/topos-esp.jpg?w=320&amp;h=240</imageurl>
    </item>
    <item>
      <guid isPermaLink="false">7315744630906398918</guid>
      <title>Target Customer Service. An hour of my life I will never get back.</title>
      <description>
        So I ordered a new laptop online from Target. If ever you hear me say “I am
        buying a laptop from Target” in the future you should immediately poison my next
        meal.
        I ordered the laptop from Target
      </description>
      <a10:updated>2010-01-18T16:22:10-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>false</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T16:21:47.38</createdate>
      <imageurl></imageurl>
    </item>
    <item>
      <guid isPermaLink="false">4918861067521553372</guid>
      <title>Los Topos to Haiti</title>
      <description>
        While three Mexican military planes are on their way to Haiti with 15 tons of
        relief supplies, and two naval ships — the Huasteco and the Papaloapan — are
        steaming towards the disaster-struck
      </description>
      <a10:updated>2010-01-18T15:32:42-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>false</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T15:32:26.267</createdate>
      <imageurl></imageurl>
    </item>
    <item>
      <guid isPermaLink="false">5837444044944312093</guid>
      <title>This is Coffee</title>
      <description>
        Oh coffee!Coffee has played an important role in our life, coffee is
        nearly religion. By the way do you know that in Africa and Yemen, it was really
        used in religious ceremonies? I am an avid
      </description>
      <a10:updated>2010-01-18T16:28:57-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>false</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T16:28:52.267</createdate>
      <imageurl></imageurl>
    </item>
    <item>
      <guid isPermaLink="false">8859976557114778132</guid>
      <title>Let Freedom Ring!</title>
      <description>
        I have never been black.
        I have never been poor.
        I have never been a Jew, a Muslim, a homosexual, a
        disabled person either mentally, or physically.
        I have never been persecuted for my race, gender,
      </description>
      <a10:updated>2010-01-18T16:24:35-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>false</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T16:24:24.203</createdate>
      <imageurl></imageurl>
    </item>
    <item>
      <guid isPermaLink="false">8676835601402603649</guid>
      <title>Casting shade</title>
      <description>
        When I was leaving work, it started raining…the water came up above my
        ankles…
        I hate being wet.
        I watched Sin City tonight, wrote music and it has a bridge. Writing bridges
        are my weakness. I
      </description>
      <a10:updated>2010-01-18T16:23:15-05:00</a10:updated>
      <blogid>6557169972861909902</blogid>
      <geotag></geotag>
      <iscommentable>true</iscommentable>
      <summary></summary>
      <userid>1</userid>
      <username>omer</username>
      <useremail>oyesil@msn.com</useremail>
      <userfirstname>Omer</userfirstname>
      <userlastname>Yesil</userlastname>
      <userimageurl>http://localhost:56624/handler/filehandler.ashx?id=5881244748952010556</userimageurl>
      <createdate>2010-01-18T16:23:15.057</createdate>
      <imageurl></imageurl>
    </item>
  </channel>
</rss>