<menuItems>
  <menuItem>
    <title>Dashboard</title>
    <isEnabled>true</isEnabled>
    <url>default.aspx</url>
    <target></target>
    <siteRequired>false</siteRequired>
    <module></module>
  </menuItem>
  <menuItem>
    <title>Sites</title>
    <isEnabled>true</isEnabled>
    <url>sites.aspx</url>
    <target></target>
    <siteRequired>false</siteRequired>
    <module>site</module>
  </menuItem>
  <menuItem>
    <title>Contents</title>
    <isEnabled>true</isEnabled>
    <url>contents.aspx</url>
    <target></target>
    <siteRequired>true</siteRequired>
    <module>content</module>    
  </menuItem>
  <menuItem>
    <title>Blogs</title>
    <isEnabled>true</isEnabled>
    <url>blogs.aspx</url>
    <target></target>
    <siteRequired>true</siteRequired>
    <module>blog</module>
  </menuItem>
  <menuItem>
    <title>File Manager</title>
    <isEnabled>true</isEnabled>
    <url>files.aspx</url>
    <target></target>
    <siteRequired>true</siteRequired>
    <module>file</module>    
  </menuItem>
  <menuItem>
    <title>Polls</title>
    <isEnabled>true</isEnabled>
    <url>polls.aspx</url>
    <target></target>
    <siteRequired>true</siteRequired>
    <module>poll</module>    
  </menuItem>
  <menuItem>
    <title>Membersip</title>
    <isEnabled>true</isEnabled>
    <url>users.aspx</url>
    <target></target>
    <siteRequired>true</siteRequired>
    <module>user</module>
  </menuItem>
</menuItems>
