<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWAPI_ConfigurationId" value="8740678391031312210"/>

    <add key="weatherServiceProvider" value="google"/>
    <add key="weatherServiceUrl" value="http://www.google.com/ig/api?weather="/>
    
  </appSettings>
  <connectionStrings>
    <add name="AWAPI_Data.Properties.Settings.AWAPIConnectionString" connectionString="Data Source=[Server];Initial Catalog=[Database];Integrated Security=True"
providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>