<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="TinyMCE" type="Moxiecode.TinyMCE.ConfigHandler,Moxiecode.TinyMCE" requirePermission="false" />
	</configSections>

	<TinyMCE installPath="../js/tiny_mce" mode="src">
		<!-- Default settings for all TinyMCE instances -->
		<globalSettings>
			<add key="relative_urls" value="false" />
		</globalSettings>

		<!-- Compressor specific settings -->
		<gzipCompressor
			enabled="yes"
			diskCache="no"
			cachePath="c:\temp"
			expiresOffset="10d"
		/>
	</TinyMCE>

	<!-- Mappings for IIS 7 -->
	<!--
	<system.webServer>
		<handlers>
			<add name="TinyMCE" verb="GET,HEAD,POST" path="TinyMCE.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler,Moxiecode.TinyMCE" />	
		</handlers>
	</system.webServer>
	-->

	<system.web>
		<customErrors mode="Off" />

		<!-- Mappings for IIS 6 or less -->
		<httpHandlers>
			<add verb="GET,HEAD,POST" path="TinyMCE.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler,Moxiecode.TinyMCE" />		
		</httpHandlers>
	</system.web>
</configuration>