<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AWAPI_Data.Properties.Settings.AWAPIConnectionString"
            connectionString="Data Source=[YourServer];Initial Catalog=[Database];User ID=[UserId]"
            providerName="System.Data.SqlClient" />
        <add name="AWAPI_Data.Properties.Settings.AwapiCMSConnectionString"
            connectionString="Data Source=[DBServer];Initial Catalog=[Database];Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>